* {
    background-color: gray;
    font-family: "Poppins", sans-serif;
}

.navbar span {
    font-size: 20px;
    color: ghostwhite;
    letter-spacing: 2px;
    margin: 20px;
    margin-left: 0px;
    text-decoration: none;
    text-decoration: ;
}